h1{
    margin-top: 10px;
   display: flex;
   justify-content: center;
  

}
.emphasized { font-style: italic; }

.material-icon-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 24px;
    color: #000;
  }
  
  .material-icon-button:hover {
    color: #007bff; /* Change the color on hover */
  }
  
  .material-icon-button:focus {
    outline: none;
  }
  
  /* Optional: Add padding or margin to adjust the spacing */
  .material-icon-button {
    padding: 5px;
    margin: 5px;
  }

  form {
    width: 400px;
    margin: auto;
    padding: 20px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  div {
    margin-bottom: 10px;
  }
  
  label {
    display: block;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="number"],
  input[type="date"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button[type="submit"]:hover {
    background-color: #45a049;
  }
  
  .error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
  }
  
  .success-message {
    background-color: #dff0d8;
    color: #3c763d;
    padding: 10px;
    border: 1px solid #d6e9c6;
    border-radius: 4px;
    margin-top: 10px;
  }
  
.success-message::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: #3c763d;
  animation: timer 3s linear;
  transition: width 0.3s;
}

@keyframes timer {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}
  
  

