<!-- <app-login></app-login> -->

<!-- <app-user-role-mapping></app-user-role-mapping  > -->

     <!-- <a routerLink="/home-nav">Home</a>  -->

<!-- <app-home-nav></app-home-nav>  -->
<!-- <a routerLink="/login"> login</a>
<a routerLink="/UserRoleMapping">UserRoleMapping</a> -->
<!-- <router-outlet> </router-outlet> -->
<!-- <app-login></app-login> -->
<!-- <app-login></app-login> -->

<!-- <ng-container *ngIf="isUserLoggedIn">
     <app-home-nav *ngIf="ishomenavVisible()"></app-home-nav>
     <div class="scrollable-content" [ngClass]="{'with-home-nav': ishomenavVisible()}">
       <router-outlet></router-outlet>
     </div>
   </ng-container>
   
   <ng-container *ngIf="!isUserLoggedIn">
     <router-outlet></router-outlet>
   </ng-container>
    -->
   
<!--    
   <div *ngIf="isUserLoggedIn";then login ;else Nologin> </div>

   <ng-template #login>
     <app-home-nav *ngIf="ishomenavVisible()"></app-home-nav>
     <div class="scrollable-content" [ngClass]="{'with-home-nav': ishomenavVisible()}">
       <router-outlet></router-outlet>
     </div>
   </ng-template> -->
    
  <router-outlet></router-outlet>
