.form-box {
  position: relative;
  max-width: 400px;
  margin: 50px auto 0;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-box h2 {
  position: absolute;
  top: -20px;
  right: 10px;
  background-color: white;
  padding: 0 10px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  border: 1px solid #ccc;
  border-bottom: none;
  border-radius: 5px 5px 0 0;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
textarea,
select {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button {
  display: block;
  margin: 15px auto 0;
}

.radio-container label {
  display: inline-block;
  margin-right: 10px;
}

#Submit, #add {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 5px;
}

#Submit {
  background-color: #374d38;
  color: #fff;
}

#Submit:hover {
  background-color: #025306;
}
#add {
  background-color: #b37542;
  color: #fff;
}

#add:hover {
  background-color: #ad4424;
}