<div class="form-box" >
    <!-- <h2>Request Form</h2> -->
    <form #form='ngForm' (ngSubmit)="AddRequest(form)" >
        <!-- <div class="form-group">
      <label for="userId">User ID:</label>
      <input type="text" id="userId" name="userId" ngModel required>
    </div> -->

        <!-- <div class="form-group">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" [(ngModel)]="username" required>
    </div> -->

        <!-- <div class="form-group">
      <label for="projectName">Project Name:</label>
      <input type="text" id="projectName" name="projectName" ngModel required>
    </div>

    <div class="form-group">
      <label for="departmentName">Department Name:</label>
      <input type="text" id="departmentName" name="departmentName" ngModel required>
    </div> -->
     <!--Project Name-->

     <div class="dropdown">
        <label for="projectId">select project</label>
        <select #onProjectChange  (change)="updateProject($event)">
            <option value="default">Project</option>
            <option *ngFor="let pro of project"  [value]=pro.id>
                {{pro.type}}
            </option>
        </select>
    </div>
    

        <div class="form-group" >
            <label for="reason">Reason for Travelling:</label>
            <input type="text" id="reason" name="reason" ngModel  />
        </div>

        <div class="form-group">
            <label for="adhaar">Adhaar Card Number:</label>
            <input type="text" id="adhaar" name="adhaar" ngModel />
        </div>

        <div class="form-group">
            <label for="bookingType">Type of Booking:</label>
            <select id="bookingType" name="bookingType" [(ngModel)]="selectedBookingType">
                <option value="">Select Type</option>
                <option value="Flight">Flight</option>
                <option value="Hotel">Hotel</option>
                <option value="Both">Both</option>
            </select>
        </div>

        <div *ngIf="selectedBookingType === 'Flight'">

            <h3>Flight Details</h3>

            <div>
                <label>
                    Type of Flight : 
                    <input type="radio" name="flightSelection" value="11"
                        ngModel>International
                    <input type="radio" name="flightSelection" value="10" ngModel>Domestic<br><br>
                </label>
            </div>





            <div class="form-group">
                <div class="row">
                    <div class="col">
                        <label for="departure">Departure : </label>
                        <input type="date" id="departure" name="departure" ngModel>
                    </div>
                    <div class="col">
                        <label for="return">Return : </label>
                        <input type="date" id="return" name="return" ngModel>
                    </div>
                </div>
            </div>

         <div class="form-group">
            <div class="dropdown">
                <label for="cityId">City From</label>
                <select #onCityChange  (select)="updateCity($event)">
                    <option value="cityId">select</option>
                    <option *ngFor="let pro of city"  [value]=pro.id name="from" >
                        {{pro.type}}
                    </option>
                </select>
            </div>
            
            
            <div class="dropdown">
                <label for="cityId">City To</label>
                <select #onCityChange  (select)="updateCity($event)">
                    <option value="cityId">select</option>
                    <option *ngFor="let pro of city"  [value]=pro.id name="to" >
                        {{pro.type}}
                    </option>
                </select>
            </div>
        </div>
            <div class="form-group">
                <label for="visaNumber">Visa Number : </label>
                <input type="text" id="visaNumber" name="visaNumber" ngModel>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col">
                        <label for="visaFile">Visa File : </label>
                        <input type="file" id="visaFile" name="visaFile" ngModel>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="passportNumber">Passport Number :</label>
                <input type="text" id="passportNumber" name="passportNumber" ngModel>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col">
                        <label for="passportFile">Passport File : </label>
                        <input type="file" id="passportFile" name="passportFile" ngModel>
                    </div>
                </div>
            </div>
        </div>


        <div *ngIf="selectedBookingType === 'Hotel'">
            <!-- <h3>Traveling Details</h3> -->

            <!-- Existing fields for flight details -->

            <h3>Hotel Details</h3>

            <div class="form-group">
                <label for="stayingFrom">Check-in :</label>
                <input type="date" id="stayingFrom" name="stayingFrom" ngModel>
            </div> 
            

            <div class="form-group">
                <label for="stayingTill">Check-out : </label>
                <input type="date" id="stayingTill" name="stayingTill" ngModel>
            </div>

            <!-- <div class="form-group">
            <label for="mealPreference">Meal Preference : </label>
            <input type="text" id="mealPreference" name="mealPreference">
          </div> -->

          <div class="form-group">
          <div class="dropdown">
              <label for="mealPreference">Meal Preferences :</label>
              <select #onMealChange  (select)="updateMeal($event)">
                  <option value="mealId">select</option>
                  <option *ngFor="let pro of mealpreference"  [value]=pro.id name="from" >
                      {{pro.type}}
                  </option>
              </select>
          </div>
      </div>

            

      <div class="form-group">
        <div class="dropdown">
            <label for="numberOfMeals">Meal Combo : </label>
            <select #onnoMealChange  (select)="updateMealcombo($event)">
                <option value="mealId">select</option>
                <option *ngFor="let pro of noofmeals"  [value]=pro.id name="from" >
                    {{pro.type}}
                </option>
            </select>
        </div>
    </div>
            <!-- <div class="form-group">
                <label for="numberOfMeals">Meal Combo : </label>
                <select id="numberOfMeals" name="numberOfMeals" ngModel>
                    <option ngValue="">Select</option>
                    <option *ngFor="let m of noofmeals" ngValue="{{ m.id }}">
                        <h4>{{ m.type }}</h4>
                    </option>
                </select>
            </div> -->

            <!-- <div class="form-group">
            <label for="numberOfMeals">Number of Meals : </label>
            <input type="number" id="numberOfMeals" name="numberOfMeals">
          </div>-->
        </div>

        <div *ngIf="selectedBookingType === 'Both'">
            <h3>Flight Details</h3>

            <div class="form-group">
                <label for="flightType">Type of Flight</label>

            </div>
            <div>
                <label>
                    Type of Flight : <input type="radio" name="flightSelection" value="international"
                        ngModel>International
                    <input type="radio" name="flightSelection" value="domestic" ngModel>Domestic<br><br>
                </label>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col">
                        <label for="departure">Departure : </label>
                        <input type="date" id="departure" name="departure" ngModel>
                    </div>
                    <div class="col">
                        <label for="return">Return : </label>
                        <input type="date" id="return" name="return" ngModel>
                    </div>
                </div>
            </div>

            <!-- <div class="form-group">
                <div class="row">
                    <div class="col">
                        <label for="from">From : </label>
                        <input type="text" id="from" name="from" ngModel>
                    </div>
                    <div class="col">
                        <label for="to">To : </label>
                        <input type="text" id="to" name="to" ngModel>
                    </div>
                </div>
            </div> -->

            <div class="form-group">
                <label for="visaNumber">Visa Number : </label>
                <input type="text" id="visaNumber" name="visaNumber" ngModel>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col">
                        <label for="visaFile">Visa File : </label>
                        <input type="file" id="visaFile" name="visaFile" ngModel>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="passportNumber">Passport Number :</label>
                <input type="text" id="passportNumber" name="passportNumber" ngModel>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col">
                        <label for="passportFile">Passport File : </label>
                        <input type="file" id="passportFile" name="passportFile" ngModel>
                    </div>
                </div>
            </div>
            <h3>Hotel Details</h3>

            <div class="form-group">
                <label for="stayingFrom">Check-in :</label>
                <input type="date" id="stayingFrom" name="stayingFrom" ngModel>
            </div>

            

            <div class="form-group">
                <label for="stayingTill">Check-out : </label>
                <input type="date" id="stayingTill" name="stayingTill" ngModel>
            </div>

            <!-- <input type="checkbox" id="checkHotel" (click)="checkHotelMeal()" [(ngModel)]="checkHotel" [ngModelOptions]="{standalone: true}">

          <label for="checkHotel">Hotel Required</label> -->




            <!--Meal Preference-->

            <!-- <div class="form-group">
                <label for="mealPreference">Meal Preference : </label>
                <select id="mealPreference" name="mealPreference" ngModel>
                    <option ngValue="">Select</option>
                    <option *ngFor="let m of mealpreference" ngValue="{{ m.id }}">
                        <h4>{{ m.type }}</h4>
                    </option>
                </select>

            </div> -->

            <div class="form-group">
                <div class="dropdown">
                    <label for="mealPreference">Meal Preferences :</label>
                    <select #onMealChange  (select)="updateMeal($event)">
                        <option value="mealId">select</option>
                        <option *ngFor="let pro of mealpreference"  [value]=pro.id name="from" >
                            {{pro.type}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="numberOfMeals">Meal Combo You Want: </label>
                <select id="numberOfMeals" name="numberOfMeals" ngModel>
                    <option ngValue="">Select</option>
                    <option *ngFor="let m of noofmeals" ngValue="{{ m.id }}">
                        <h4>{{ m.type }}</h4>
                    </option>
                </select>
            </div>
        </div>



        <button type="submit" id="add"> Save and continue</button>
    </form>
</div>